{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Get Back Button -->
<div class="mb-3">
    <a href="{% url 'post-detail' post.pk %}" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i> Get Back to Post
    </a>
</div>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <i class="fas fa-edit"></i> Update Post
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                <i class="fas fa-save"></i> Update Post
            </button>
            <a href="{% url 'post-detail' post.pk %}" class="btn btn-outline-secondary">
                <i class="fas fa-times"></i> Cancel
            </a>
        </div>
    </form>
</div>

{% endblock content %}